/* Large devices (large tablets, 992px and up) */

@media (min-width: 992px) {




    /* Hero  */
    
   .hero-text-container {
    width: 85%;
   }
    .hero-text {
        width: 95%;
        bottom: 2rem;
        right: 2rem;
    }
    
    .hero-text h1 {
        font-size: 2.7rem;
    }

 .inner-header h1 {

    /* font-size: 3.15rem; */
}

/* Welcome  */
.welcome-contact {
    top: -50px;
}
.welcome .white-space {
    height: 150px;
}
.welcome {
    margin-bottom: 50px;
}

.guide h2, .our-doors h2, .about-us h2 {
    font-size: 2.1rem;
}
.testimonials h2 {
    font-size: 3rem;}
.about-us .card h3 {
    font-size: 1.5rem;
}

.testimonials-text p {
    font-size: 1.35rem;
}

.inner-header .container {
    margin-bottom: 5em;

}
.inner-header img {
    margin-bottom: -6em;
}

.doors-landing-cards .card h2 {
    font-size: 2rem;
}
.doors-landing-cards .card .card-header {
    min-height: 120px;
}

/* Door  */

.door-info .door-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* CTAs homepage  */
.cta .cta-text h3 {
    font-size: 1.5rem;
    padding-bottom: .75rem;
}
.cta .cta-img {

    padding-bottom: 3.5rem;
}
.cta .orange-triangle {
  
    margin-bottom: -.4rem;
}

.inner-header .img-border {
    
    bottom: -6.9em;
}


/* Footer - Large Devices */

.shfooter .collapse {
display: block;
}
footer .fa-chevron-right {
display: inline-block;
}
footer ul li {
margin-bottom: 10px;

}
footer ul li span {
    display: inline-block;
}
footer ul li a:hover span {
    animation: arrow-right 0.3s linear forwards; 
          
      }
  
  @keyframes arrow-right {
    from {
      transform: translateX(0px); }
    to {
      transform: translateX(2px); } 
      
  }

  #footer .footer-title {
    font-size: 1.5rem;
  }
  


}